* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    background-color: purple;
  }
  
  input,
  .selectType,
  .countOfPages {
    padding: 20px;
    font-size: 25px;
    border-radius: 3px;
  }
  
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 3px;
    padding-top: 40px;
  }
  
  form .inputValue {
    border: none;
    text-decoration: none;
    border: 3px solid;
  }
  
  form .inputValue:hover {
    border: 3px solid lightpink;
  }
  
  form .selectType {
    text-decoration: none;
    margin: 20px 20px;
    cursor: pointer;
  }
  
  form .selectType:hover {
    background-color: palevioletred;
    color: white;
  }
  
  form .submit {
    cursor: pointer;
    height: 100%;
    padding: 20px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    background-color: lightpink;
  }
  
  form .submit:hover {
    background-color: palevioletred;
  }
  
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    max-width: 1900px;
  }
  
  .content .logo {
    max-width: 100px;
  }
  
  .content .display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px;
  }
  
  .content .display p {
    color: palevioletred;
    font-size: 30px;
    padding-bottom: 20px;
  }
  
  .content .display .item {
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    font-size: 30px;
    width: 300px;
    height: 480px;
    background-color: #3f3c3c;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    cursor: pointer;
    z-index: 3;
  }
  
  .content .display .item img {
    max-width: 300px;
    max-height: 470px;
  }
  
  .content .display .item:hover {
    background-color: palevioletred;
  }
  
  .filmDetails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 30px;
  }
  
  .filmDetails .full {
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
    padding-left: 10px;
    letter-spacing: 1.5px;
  }
  
  .filmDetails .full .top-date {
    text-align: center;
  }
  
  .filmDetails .full .name {
    max-width: 800px;
  }
  
  .filmDetails .full .itemSel {
    padding-top: 10px;
    font-size: 16px;
  }
  
  .filmDetails .full .itemSel span {
    font-weight: 600;
    color: palevioletred;
  }
  
  .filmDetails .full p {
    max-width: 400px;
    padding-top: 20px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.5;
  }