#section1{
    max-width: 1600px;
    margin: 0 auto;
    

    .header.scroll{
        position: fixed;
        width: 100%;
        padding-top: 10px;
        background-color: #7e5aff;
        
    }
    .header{
        z-index: 100;
        max-width: 1600px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        position: absolute;
        padding-top: 50px;
        padding-left: 200px;
        padding-right:30px;
        @media screen and (max-width: 1300px) {
            padding-left: 20px;
        }
        
        .menu{
            padding-left: 100px;
            padding-top: 15px;
            @media screen and (max-width: 1300px) {
                padding-left: 50px;
            }
            
            
            a{
                font-family: "GothamBook",sans-serif;
                font-size: 12px;
                text-decoration: none;
                color: white;
            }
            a:hover{
                border-bottom:1.5px solid white;
                padding-bottom: 5px;
            }
        }
        .social1{
            margin-left: 85px;
            @media screen and (max-width: 970px) {
                margin-left: 30px;
            }
        }
        .social{
            padding-top: 5px;
            padding-left: 13px;
        }
        .social1:hover,
        .social2:hover,
        .social3:hover{
            transform: scale(1.3);
            
        }
        
    }
    .slick-next{
         position: absolute;
         display: none;
    }
    .slick-prev{
        position: absolute;
        display: none;
   }
   .slick-dots{
       z-index: 100;
       position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 10%;
    top: 200px;

    @media screen and (max-width: 850px) {
        flex-direction: row;
        bottom: -200px;
        left: 55px;
    }

    }
    li{
        list-style: none;
    }
    button{
        margin-top: 50px;
        margin-left: 30px;
        font-size: 0;
        width: 7px;
        height: 7px;
        background-color:transparent;
        border: 1px solid white;
        border-radius: 50%;

        
    }
    .slick-active button{
        border-radius: 50%;
        background-color: white;
        
    }
    .slick1{
        height: 760px;
        background: url(../img/6b8e241c-f935-42dc-9466-0540ed34cd68.jpg)center/cover no-repeat ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        .title{
            font-family: "Gotham",sans-serif ;
            color: white;
            text-align: center;
            padding-top: 30px;
            @include adaptiv-font(80, 34);
         }
        .title_text{
            font-family: "GothamBook",sans-serif ;
            color: white;
            text-align: center;
            letter-spacing: 7px;
            padding-top: 25px;
            @include adaptiv-font(15, 12);
         }
    }

    .arrow{
        position: absolute;
        bottom: 45px;
        z-index: 100;
        width: 41px;
        height: 41px;

        &:hover{
            transform: scale(1.2);
        }
    }
}