#section2{
    max-width: 1600px;
    height: 1637px;
    margin: 0 auto;
    position: relative;
    background-image: url(../img/Section2_bg.png);

    .section2_header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .section2_hr1{
            width: 95px;
            color: black;
            // height: 1px;
            margin-top: 95px;
        }
        .section2_title{
            text-align: center;
            margin-top: 30px;
            font-size: 44px;
            font-family: "Gotham",sans-serif ;;
        }
    }
    
    .container1{
        // max-width: 1170px;
        margin: 0 auto;
        float: left;
        display: flex;
        flex-direction: row;
        

        .container1_img {
            background-image: url(../img/joel-filipe-151697.png);
            margin-left: 200px;
            margin-top: 130px;
            width: 600px;
            height: 470px;

            
        }
        .container1_content{
            padding-right: 20px;
            margin-top: 210px;
            margin-left: 70px;
            
            .content_text1{
                font-size: 22px;
            }
            .content_title{
                font-size: 44px;
                padding-top: 5px;
            }
            .content_text2{
                line-height: 1.5;
                font-size: 18px;
                padding-top: 25px;
            }
        }
    }
}