#section3{
    max-width: 1600px;
    margin: 0 auto;
    background: url(../img/Bg_section3.png);
    height: 985px;
    
    

    .section3_header{
        max-width: 1170px;
        margin: 0 auto;
        padding-top: 131px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .section3_hr1{
            z-index: 50;
            width: 95px;
            color: white;
            // height: 1px;
        }

        .section3_title{
            font-family: "Gotham",sans-serif ;
            font-weight: 500;
            color: white;
            text-align: center;
            padding-top: 30px;
            font-size: 40px;
        }
    }

    .section3_slick{
        max-width: 1170px;
        margin: 0 auto;
        position: relative;

        .slick-arrow{
            position: absolute;
            top: 50%;
            font-size: 0;
            border: none;
            cursor: pointer;

            @media screen and (max-width: 1280px) {
                top: 100%;
            }
            &:hover{
                transform: scale(1.2);
                transition: 0.7s;
            }
        }
        .slick-prev{
            background: url(../img/arrow-left.png)  center ;
            width: 40px;
            height: 40px;
            left: -70px;
            @media screen and (max-width: 1280px) {
                left:30% ;
            }
            
        }
        .slick-next{
            right:-50px;
            background: url(../img/arrow-right.png)  center ;
            width: 40px;
            height: 40px;
            @media screen and (max-width: 1280px) {
                right:28% ;
            }
        }
        .slick-dots{
            display: flex;
            justify-content: center;
            align-items: center;

            li{
                list-style: none;
            }
            button{
                margin-top: 50px;
                margin-left: 30px;
                font-size: 0;
                width: 7px;
                height: 7px;
                background-color:transparent;
                border: 1px solid white;
                border-radius: 50%;

                
            }
            .slick-active button{
                border-radius: 50%;
                background-color: white;
                
            }

        }
        .slick_content{
            padding-top: 105px;
            display: flex;
            flex-direction: column;
            width: 370px;
            padding-left: 10px;

            @media screen and (max-width: 380px) {
                padding-left: 3px;
            }

            .content_img1{
                width: 370px;
                height: 240px;
                background-image: url(../img/section3_img1.png);
            }
            .content_img2{
                width: 370px;
                height: 240px;
                background-image: url(../img/section3_img2.png);
            }
            .content_img3{
                width: 370px;
                height: 240px;
                background-image: url(../img/section3_img3.png);
            }
            .content_img4{
                width: 370px;
                height: 240px;
                background-image: url(../img/info_img4.jpg) ;
                background-position: center;
                background-repeat: no-repeat;
                
            }
            .content_img5{
                width: 370px;
                height: 240px;
                background-image: url(../img/info_img5.jpg) ;
                background-position: center;
                background-repeat: no-repeat;
                
            }



            .inform{
                background-color: white;
                padding-left: 15px;
                padding-right: 20px;
                width: 370px;

                .inform_title{
                    font-weight: bold;
                    padding-top: 30px;
                    line-height: 1.5;
                    @include adaptiv-font(20, 16);
                }
                .inform_text{
                    padding-top: 15px;
                    font-family: 'Open Sans', sans-serif;
                    opacity: 0.6;
                    @include adaptiv-font(18, 14);
                }
            }
            .user{
                padding-top: 35px;
                padding-left: 15px;
                padding-bottom: 20px;
                width: 370px;
                display: flex;
                flex-direction: row;
                background-color: white;
                justify-content: start;

                .user_foto1{
                    width: 60px;
                    height: 60px;
                    background-image: url(../img/user_foto1.png);
                }
                .user_foto2{
                    width: 60px;
                    height: 60px;
                    background-image: url(../img/user_foto2.png);
                }
                .user_foto3{
                    width: 60px;
                    height: 60px;
                    background-image: url(../img/user_foto3.png);
                }

                .name{
                    padding-left: 10px;
                    padding-top: 10px;
                    font-family:"GothamBook",sans-serif ;
                    font-size: 18px;
                }
                .date{
                    padding-left: 10px;
                    padding-top: 5px;
                    font-family:"GothamBook",sans-serif ;
                    font-size: 14px;
                    color: #65bcff;
                }
            }
        }
    }
   
}