@font-face { 
    font-family: "Gotham";
    src:url(../fonts/GothamMediumRegular/gotham-medium-webfont.woff), 
        url(../fonts/GothamMediumRegular/gotham-medium-webfont.woff2),
        url(../fonts/GothamMediumRegular/GothamMediumRegular.ttf),   
}
@font-face{
    font-family: "Gothambold";
    src:url(../fonts/gothambold/gothambold1.eot),
    url(../fonts/gothambold/gothambold1.ttf)
    url(../fonts/gothambold/gothambold1.woff)
}
@font-face{
    font-family: "GothamBook";
    src: url(../fonts/GothamBook/GothamBook.eot)
    url(../fonts/GothamBook/GothamBook.ttf)
    url(../fonts/GothamBook/GothamBook.woff)
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
    font-family: 'Gotham';
}



#section1{
    max-width: 1600px;
    margin: 0 auto;
    height: 4000px;

    .header.scroll{
        position: fixed;
        width: 200%;
        padding-top: 10px;
        background-color: rgb(154, 84, 224);
    }
    .header{
        z-index: 100;
        max-width: 1600px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        position: absolute;
        padding-top: 50px;
        padding-left: 200px;
    
        .menu{
            padding-left: 100px;
            padding-top: 15px;
            
            
            a{
                font-family: "Gotham";
                font-size: 12px;
                text-decoration: none;
                color: white;
            }
            a:hover{
                border-bottom:1.5px solid white;
                padding-bottom: 5px;
            }
        }
        .social1{
            margin-left: 75px;
        }
        .social{
            padding-top: 5px;
            padding-left: 13px;
        }
        .social1:hover,
        .social2:hover,
        .social3:hover{
            transform: scale(1.3);
            
        }
        
    }
    .slick-next{
         position: absolute;
         opacity: 0;
    }
    .slick-prev{
        position: absolute;
        opacity: 0;
   }
    .slick1{
        width: 100%;
        height: 800px;
        background-image: url(/lesson36/img/Bg.png) ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        .title{
            color: white;
            text-align: center;
           
            font-size: 80px;
         }
        .title_text{
            color: white;
            text-align: center;
            font-size: 15px;
            letter-spacing: 6px;
            padding-top: 25px;
         }
    }

    .arrow{
        position: absolute;
        bottom: 85px;
        z-index: 100;
        width: 41px;
        height: 41px;

        &:hover{
            transform: scale(1.2);
        }
    }

    
}