@font-face { 
    font-family: "Gotham";
    src:url(../fonts/GothamMediumRegular/gotham-medium-webfont.woff), 
        url(../fonts/GothamMediumRegular/gotham-medium-webfont.woff2),
        url(../fonts/GothamMediumRegular/GothamMediumRegular.ttf),   
}
@font-face{
    font-family: "Gothambold";
    src:url(../fonts/gothambold/gothambold1.eot),
    url(../fonts/gothambold/gothambold1.ttf)
    url(../fonts/gothambold/gothambold1.woff)
}
@font-face{
    font-family: "GothamBook";
    src: url(../fonts/GothamBook/GothamBook.eot)
    url(../fonts/GothamBook/GothamBook.ttf)
    url(../fonts/GothamBook/GothamBook.woff)
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
    font-family: 'Gotham', sans-serif;
}
@import"../style/mixin.scss";
@import"../style/normalize.scss";
@import"../style/reset.scss";


@import "../style/header.scss";
@import "../style/section2.scss";
@import "../style/section3.scss";
@import "../style/section4.scss";
@import "../style/section5.scss";
@import"../style/footer.scss";

