@font-face { 
    font-family: "Gotham";
    src:url(../fonts/GothamMediumRegular/gotham-medium-webfont.woff), 
        url(../fonts/GothamMediumRegular/gotham-medium-webfont.woff2),
        url(../fonts/GothamMediumRegular/GothamMediumRegular.ttf),   
}
@font-face{
    font-family: "Gothambold";
    src:url(../fonts/gothambold/gothambold1.eot),
    url(../fonts/gothambold/gothambold1.ttf)
    url(../fonts/gothambold/gothambold1.woff)
}
@font-face{
    font-family: "GothamBook";
    src: url(../fonts/GothamBook/GothamBook.eot)
    url(../fonts/GothamBook/GothamBook.ttf)
    url(../fonts/GothamBook/GothamBook.woff)
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
    font-family: 'Gotham', sans-serif;
}

@import "../style/header.scss";
@import "../style/section2.scss";

