@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
@font-face {
  font-family: "Gotham";
  src: url(../fonts/GothamMediumRegular/gotham-medium-webfont.woff), url(../fonts/GothamMediumRegular/gotham-medium-webfont.woff2), url(../fonts/GothamMediumRegular/GothamMediumRegular.ttf);
}
@font-face {
  font-family: "Gothambold";
  src: url(../fonts/gothambold/gothambold1.eot), url(../fonts/gothambold/gothambold1.ttf) url(../fonts/gothambold/gothambold1.woff);
}
@font-face {
  font-family: "GothamBook";
  src: url(../fonts/GothamBook/GothamBook.eot) url(../fonts/GothamBook/GothamBook.ttf) url(../fonts/GothamBook/GothamBook.woff);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
  font-family: "Gotham", sans-serif;
}

#section1 {
  max-width: 1600px;
  margin: 0 auto;
}
#section1 .nav.scroll {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  background-color: #7e5aff;
  max-width: 1600px;
}
#section1 .nav {
  padding-top: 50px;
  padding-left: 180px;
  z-index: 200;
  height: 100px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1323px) {
  #section1 .nav {
    padding-left: 20px;
  }
}
#section1 .nav > .nav-header {
  display: inline;
}
#section1 .nav > .nav-btn {
  display: none;
}
#section1 .nav > .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
  font-size: 14px;
  font-family: "GothamBook", sans-serif;
}
@media screen and (max-width: 1160px) {
  #section1 .nav > .nav-links {
    padding-left: 20px;
  }
}
#section1 .nav > .nav-links > a {
  display: inline-block;
  margin: 13px 80px 13px 10px;
  padding-bottom: 8px;
  text-decoration: none;
  color: #efefef;
  -ms-max-padding: 13px 10px 50px 10px;
}
@media screen and (max-width: 1160px) {
  #section1 .nav > .nav-links > a {
    margin: 13px 50px 13px 10px;
  }
}
@media screen and (max-width: 961px) {
  #section1 .nav > .nav-links > a {
    margin: 13px 10px 13px 10px;
  }
}
#section1 .nav > .nav-links > .menu:hover {
  border-bottom: 2px solid white;
}
#section1 .nav > #nav-check {
  display: none;
}
@media (max-width: 800px) {
  #section1 .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 20px;
  }
  #section1 .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  #section1 .nav > .nav-btn > label:hover, #section1 .nav #nav-check:checked ~ .nav-btn > label {
    background-color: #7e5aff;
  }
  #section1 .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  #section1 .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #7e5aff;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 90px;
    left: 0px;
    font-family: "GothamBook", sans-serif;
  }
  #section1 .nav > .nav-links > a {
    display: block;
    width: 100%;
    text-align: center;
  }
  #section1 .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  #section1 .nav > #nav-check:checked ~ .nav-links {
    height: calc(300px - 50px);
    overflow-y: auto;
  }
}
#section1 .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#section1 .social .social_link {
  padding-left: 10px;
}
#section1 .social .social_link:hover {
  transform: scale(1.2);
}
#section1 .slick-next {
  position: absolute;
  display: none;
}
#section1 .slick-prev {
  position: absolute;
  display: none;
}
#section1 .slick-dots {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 10%;
  top: 200px;
}
@media screen and (max-width: 850px) {
  #section1 .slick-dots {
    flex-direction: row;
    bottom: -200px;
    left: 55px;
  }
}
#section1 li {
  list-style: none;
}
#section1 button {
  margin-top: 50px;
  margin-left: 30px;
  font-size: 0;
  width: 7px;
  height: 7px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
}
#section1 .slick-active button {
  border-radius: 50%;
  background-color: white;
}
#section1 .slick1 {
  height: 760px;
  background: url(../img/6b8e241c-f935-42dc-9466-0540ed34cd68.jpg) center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section1 .slick1 .title {
  font-family: "Gotham", sans-serif;
  color: white;
  text-align: center;
  padding-top: 30px;
  font-size: calc(34px + 46 * ((100vw - 320px) / 1280));
}
#section1 .slick1 .title_text {
  font-family: "GothamBook", sans-serif;
  color: white;
  text-align: center;
  letter-spacing: 7px;
  padding-top: 25px;
  font-size: calc(12px + 3 * ((100vw - 320px) / 1280));
}
#section1 .arrow {
  position: absolute;
  bottom: 45px;
  z-index: 100;
  width: 41px;
  height: 41px;
}
#section1 .arrow:hover {
  transform: scale(1.2);
}

#section2 {
  max-width: 1600px;
  height: 1637px;
  margin: 0 auto;
  background-image: url(../img/Section2_bg.png);
}
#section2 .section2_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section2 .section2_header .section2_hr1 {
  width: 95px;
  color: black;
  margin-top: 95px;
}
#section2 .section2_header .section2_title {
  text-align: center;
  margin-top: 30px;
  font-size: 44px;
  font-family: "Gotham", sans-serif;
}
#section2 .container1 {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1170px) {
  #section2 .container1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#section2 .container1 .container1_img {
  float: left;
  background-image: url(../img/joel-filipe-151697.png);
  margin-top: 130px;
  width: 600px;
  height: 470px;
}
@media screen and (max-width: 600px) {
  #section2 .container1 .container1_img {
    background-image: url(../img/joel-481px.png);
    width: 481px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 70px;
  }
}
@media screen and (max-width: 489px) {
  #section2 .container1 .container1_img {
    background-image: url(../img/joel-332px.png);
    width: 332px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 70px;
  }
}
@media screen and (max-width: 331px) {
  #section2 .container1 .container1_img {
    background-image: url(../img/joel-302px.png);
    width: 302px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 70px;
  }
}
#section2 .container1 .container1_content {
  padding-right: 20px;
  margin-top: 210px;
  margin-left: 50px;
}
@media screen and (max-width: 1170px) {
  #section2 .container1 .container1_content {
    margin-top: 50px;
    margin-left: 0px;
    text-align: center;
  }
}
#section2 .container1 .container1_content .content_text1 {
  font-size: 22px;
}
#section2 .container1 .container1_content .content_title {
  font-size: 44px;
  padding-top: 5px;
}
#section2 .container1 .container1_content .content_text2 {
  line-height: 1.5;
  font-size: 18px;
  padding-top: 25px;
}
#section2 .container1 .container1_content .container1_button {
  width: 180px;
  height: 50px;
  border: 1px solid black;
  background-color: white;
  margin-top: 30px;
}
#section2 .container1 .container1_content .container1_button:hover {
  background-color: #55b7ff;
  border: #55b7ff;
  color: white;
  transition: 0.7s;
}
#section2 .container2 {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-bottom: 110px;
}
@media screen and (max-width: 1170px) {
  #section2 .container2 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1170px) {
  #section2 .container2 .container2_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
#section2 .container2 .container2_content .content2_text1 {
  margin-top: 250px;
  font-size: 22px;
}
@media screen and (max-width: 1170px) {
  #section2 .container2 .container2_content .content2_text1 {
    margin-top: 50px;
  }
}
#section2 .container2 .container2_content .content2_title {
  font-size: 44px;
  padding-top: 5px;
}
#section2 .container2 .container2_content .content2_text2 {
  line-height: 1.5;
  font-size: 18px;
  padding-top: 25px;
}
#section2 .container2 .container2_content .container2_button {
  width: 180px;
  height: 50px;
  border: 1px solid black;
  background-color: white;
  margin-top: 30px;
}
#section2 .container2 .container2_content .container2_button:hover {
  background-color: #7e5aff;
  border: #7e5aff;
  color: white;
  transition: 0.7s;
}
#section2 .container2 .container2_img {
  float: right;
  background-image: url(../img/photos-1284iH4Hjf4mhNgW.png);
  margin-top: 200px;
  margin-left: 50px;
  width: 600px;
  height: 470px;
}
@media screen and (max-width: 649px) {
  #section2 .container2 .container2_img {
    margin-right: 50px;
  }
}
@media screen and (max-width: 600px) {
  #section2 .container2 .container2_img {
    float: none;
    margin-left: 10px;
    background-image: url(../img/photos-473px.png);
    width: 473px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 70px;
  }
}
@media screen and (max-width: 489px) {
  #section2 .container2 .container2_img {
    margin-left: 10px;
    float: none;
    background-image: url(../img/photos-358px.png);
    width: 358px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 70px;
  }
}

#section3 {
  max-width: 1600px;
  margin: 0 auto;
  background: url(../img/Bg_section3.png);
  height: 985px;
}
#section3 .section3_header {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 131px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section3 .section3_header .section3_hr1 {
  z-index: 50;
  width: 95px;
  color: white;
}
#section3 .section3_header .section3_title {
  font-family: "Gotham", sans-serif;
  font-weight: 500;
  color: white;
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
}
#section3 .section3_slick {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}
#section3 .section3_slick .slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1280px) {
  #section3 .section3_slick .slick-arrow {
    top: 100%;
  }
}
@media screen and (max-width: 600px) {
  #section3 .section3_slick .slick-arrow {
    top: 102%;
  }
}
#section3 .section3_slick .slick-arrow:hover {
  transform: scale(1.2);
  transition: 0.7s;
}
#section3 .section3_slick .slick-prev {
  background: url(../img/arrow-left.png) center;
  width: 40px;
  height: 40px;
  left: -70px;
}
@media screen and (max-width: 1280px) {
  #section3 .section3_slick .slick-prev {
    left: 30%;
  }
}
#section3 .section3_slick .slick-next {
  right: -50px;
  background: url(../img/arrow-right.png) center;
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 1280px) {
  #section3 .section3_slick .slick-next {
    right: 28%;
  }
}
#section3 .section3_slick .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section3 .section3_slick .slick-dots li {
  list-style: none;
}
#section3 .section3_slick .slick-dots button {
  margin-top: 50px;
  margin-left: 30px;
  font-size: 0;
  width: 7px;
  height: 7px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
}
#section3 .section3_slick .slick-dots .slick-active button {
  border-radius: 50%;
  background-color: white;
}
#section3 .section3_slick .slick_content {
  padding-top: 105px;
  display: flex;
  flex-direction: column;
  width: 370px;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  #section3 .section3_slick .slick_content {
    justify-content: center;
    align-items: center;
  }
}
#section3 .section3_slick .slick_content .content_img1 {
  width: 370px;
  height: 240px;
  background-image: url(../img/section3_img1.png);
}
@media screen and (max-width: 1120px) {
  #section3 .section3_slick .slick_content .content_img1 {
    width: 300px;
  }
}
#section3 .section3_slick .slick_content .content_img2 {
  width: 370px;
  height: 240px;
  background-image: url(../img/section3_img2.png);
}
@media screen and (max-width: 1120px) {
  #section3 .section3_slick .slick_content .content_img2 {
    width: 300px;
  }
}
#section3 .section3_slick .slick_content .content_img3 {
  width: 370px;
  height: 240px;
  background-image: url(../img/section3_img3.png);
}
@media screen and (max-width: 1120px) {
  #section3 .section3_slick .slick_content .content_img3 {
    width: 300px;
  }
}
#section3 .section3_slick .slick_content .content_img4 {
  width: 370px;
  height: 240px;
  background-image: url(../img/info_img4.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1120px) {
  #section3 .section3_slick .slick_content .content_img4 {
    width: 300px;
  }
}
#section3 .section3_slick .slick_content .content_img5 {
  width: 370px;
  height: 240px;
  background-image: url(../img/info_img5.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1120px) {
  #section3 .section3_slick .slick_content .content_img5 {
    width: 300px;
  }
}
#section3 .section3_slick .slick_content .inform {
  background-color: white;
  padding-left: 15px;
  padding-right: 20px;
  width: 370px;
}
@media screen and (max-width: 1120px) {
  #section3 .section3_slick .slick_content .inform {
    width: 300px;
    text-align: center;
  }
}
#section3 .section3_slick .slick_content .inform .inform_title {
  font-weight: bold;
  padding-top: 30px;
  line-height: 1.5;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1280));
}
@media screen and (max-width: 1120px) {
  #section3 .section3_slick .slick_content .inform .inform_title {
    font-size: 16px;
    line-height: 1;
  }
}
#section3 .section3_slick .slick_content .inform .inform_text {
  padding-top: 15px;
  font-family: "Open Sans", sans-serif;
  opacity: 0.6;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1280));
}
@media screen and (max-width: 1120px) {
  #section3 .section3_slick .slick_content .inform .inform_text {
    font-size: 14px;
  }
}
#section3 .section3_slick .slick_content .user {
  padding-top: 35px;
  padding-left: 15px;
  padding-bottom: 20px;
  width: 370px;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: start;
}
@media screen and (max-width: 1120px) {
  #section3 .section3_slick .slick_content .user {
    width: 300px;
  }
}
#section3 .section3_slick .slick_content .user .user_foto1 {
  width: 60px;
  height: 60px;
  background-image: url(../img/user_foto1.png);
}
#section3 .section3_slick .slick_content .user .user_foto2 {
  width: 60px;
  height: 60px;
  background-image: url(../img/user_foto2.png);
}
#section3 .section3_slick .slick_content .user .user_foto3 {
  width: 60px;
  height: 60px;
  background-image: url(../img/user_foto3.png);
}
#section3 .section3_slick .slick_content .user .name {
  padding-left: 10px;
  padding-top: 10px;
  font-family: "GothamBook", sans-serif;
  font-size: 18px;
}
#section3 .section3_slick .slick_content .user .date {
  padding-left: 10px;
  padding-top: 5px;
  font-family: "GothamBook", sans-serif;
  font-size: 14px;
  color: #65bcff;
}

#section4 {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section4 .section4_header {
  max-width: 1170px;
  padding-top: 130px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section4 .section4_header .section4_hr1 {
  z-index: 50;
  width: 95px;
  color: black;
}
#section4 .section4_header .section4_title {
  font-family: "Gotham", sans-serif;
  font-weight: 500;
  color: black;
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
}
#section4 .section4_content {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
@media screen and (max-width: 1170px) {
  #section4 .section4_content {
    flex-direction: column;
  }
}
@media screen and (max-width: 605px) {
  #section4 .section4_content {
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
}
#section4 .section4_content .foto-360 {
  position: relative;
  background-image: url(../img/scott-webb-176434.png);
  width: 580px;
  height: 438px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 605px) {
  #section4 .section4_content .foto-360 {
    width: 398px;
    height: 398px;
  }
}
@media screen and (max-width: 401px) {
  #section4 .section4_content .foto-360 {
    width: 280px;
    height: 280px;
  }
}
#section4 .section4_content .foto-360 .icon-360 {
  top: 175px;
  left: 250px;
  z-index: 100;
  position: absolute;
}
@media screen and (max-width: 605px) {
  #section4 .section4_content .foto-360 .icon-360 {
    top: 40%;
    left: 40%;
  }
}
#section4 .section4_content .gallery-foto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
}
@media screen and (max-width: 1170px) {
  #section4 .section4_content .gallery-foto {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
#section4 .section4_content .gallery-foto .foto {
  padding-left: 10px;
  padding-top: 5px;
}
#section4 .gallery_button {
  margin-top: 40px;
  width: 190px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 100px;
}
#section4 .gallery_button:hover {
  background-color: #7e5aff;
  border: #7e5aff;
  color: white;
  transition: 0.7s;
}

#section5 {
  max-width: 1600px;
  margin: 0 auto;
}
#section5 #map {
  height: 700px;
  width: 100%;
}

#footer {
  max-width: 1600px;
  height: 524px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/Bg_footer.png);
}
#footer .footer_container {
  position: absolute;
  top: -300px;
  max-width: 770px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 775px) {
  #footer .footer_container {
    padding-right: 100px;
  }
}
@media screen and (max-width: 725px) {
  #footer .footer_container {
    top: -350px;
  }
}
@media screen and (max-width: 380px) {
  #footer .footer_container {
    padding-right: 0;
  }
}
@media screen and (max-width: 499px) {
  #footer .footer_container {
    width: 400px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 399px) {
  #footer .footer_container {
    width: 320px;
    padding-right: 0px;
  }
}
#footer .footer_container .footer_hr1 {
  margin-top: 60px;
  z-index: 50;
  width: 95px;
  color: black;
}
#footer .footer_container .footer_title {
  font-family: "Gotham", sans-serif;
  font-weight: 500;
  color: black;
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
}
#footer .footer_container .footer_box {
  padding-right: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}
@media screen and (max-width: 744px) {
  #footer .footer_container .footer_box {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 725px) {
  #footer .footer_container .footer_box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    padding-right: 0px;
  }
}
#footer .footer_container .footer_box .inform_text {
  padding-left: 50px;
  padding-top: 40px;
}
@media screen and (max-width: 499px) {
  #footer .footer_container .footer_box .inform_text {
    padding-left: 5px;
  }
}
#footer .footer_container .footer_box .inform_text #icomoon-ignore {
  background-color: #7e5aff;
}
#footer .footer_container .footer_box .inform_user {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 0px;
}
@media screen and (max-width: 499px) {
  #footer .footer_container .footer_box .inform_user {
    padding-top: 20px;
    padding-left: 5px;
  }
}
#footer .footer_container .footer_box .inform_user #user_name {
  margin-top: 20px;
  padding-left: 10px;
  width: 300px;
  height: 50px;
  color: black;
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  font-family: "GothamBook", sans-serif;
}
#footer .footer_container .footer_box .inform_user #user_email {
  margin-top: 30px;
  padding-left: 10px;
  width: 300px;
  height: 50px;
  color: black;
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  font-family: "GothamBook", sans-serif;
}
#footer .footer_container .footer_box .inform_user .inform_user_button {
  margin-left: 170px;
  margin-top: 40px;
  width: 130px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 50px;
}
#footer .footer_container .footer_box .inform_user .inform_user_button:hover {
  background-color: #7e5aff;
  border: #7e5aff;
  color: white;
  transition: 0.7s;
}
#footer .footer_info {
  margin-top: 100px;
  max-width: 770px;
  z-index: 100;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 724px) {
  #footer .footer_info {
    margin-top: 360px;
  }
}
@media screen and (max-width: 666px) {
  #footer .footer_info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 666px) {
  #footer .footer_info .link {
    padding-right: 0;
    margin-top: 0px;
  }
}
#footer .footer_info .box1 {
  padding-right: 200px;
}
@media screen and (max-width: 775px) {
  #footer .footer_info .box1 {
    padding-right: 100px;
  }
}
@media screen and (max-width: 666px) {
  #footer .footer_info .box1 {
    padding-right: 0;
    padding-top: 50px;
  }
}
#footer .footer_info .box1 .text {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  font-family: "GothamBook", sans-serif;
  color: white;
  font-size: 14px;
}
@media screen and (max-width: 666px) {
  #footer .footer_info .box1 .text {
    display: none;
  }
}
#footer .footer_info .box1 .text .text2 {
  padding-left: 50px;
}