*{
    margin: 0 auto;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.header_title{
    padding-top: 110px;
    text-align: center;
    font-size: 34px;
    color: black;
}

.header_hr{
   margin-top: 20px;
    width: 50px;
    height: 1px;
    opacity: 0.6;
}

.header_text{
    width: 570px;
    text-align: center;
    padding-top: 40px;
    font-size: 16px;
    color: black;
}

.container1{
    display: flex;
    flex-direction: row;
}

.img{
    margin-top: 65px;
    width: 270px;
    height: 270px;
    
}
.container1_box1{
    position: relative;
    background-image: url(img/Rectangle\ 1.png);
    background-repeat: no-repeat;
    width: 270px;
    height: 270px;
    
}

.img1{
    
    
    
}
.img2{
    background-image: url(img/Rectangle\ 2.png);
    background-repeat: no-repeat;
    
}
.img3{
    background-image: url(img/Rectangle\ 3.png);
    background-repeat: no-repeat;
    
}
.img4{
    background-image: url(img/Rectangle\ 4.png);
    background-repeat: no-repeat;
    
}


.name{
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.post{
    font-size: 14px;
    opacity: 0.7;
}




.web{
    position: absolute;
    width: 270px;
    height: 270px;
    top: 50px;
    background-color: #18b5dc ;
    display: none;
    
}
.tw{
    width: 50px;
    height: 50px;
    background-image: url(../img/Twitter.png);
    background-repeat: no-repeat;
}
.fb{
    width: 50px;
    height: 50px;
    background-image: url(../img/Facebook.png);
    background-repeat: no-repeat;
}
.g{
    width: 50px;
    height: 50px;
    background-image: url(../img/G+.png);
    background-repeat: no-repeat;
}


.container1_box1 :hover .web{
    display: block;
}
.container1_box2 :hover .web {
    display: block;
}
