@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');

*{
    padding: 0;
    margin: 0;
    line-height: 1;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.container{
max-width: 1920px;
margin: 0 auto;
}



.box1{
    height: 1071px;
    
    background-image: url(img/hero-bg.jpg.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.box1_logo{
    margin-top: 280px;
    margin-left: 48%;
    width: 100px;
    height: 100px;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    padding-top: 93px;
    font-size: 54px;
    color: white;
}
.box1_text{
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 1.8;
    padding-top: 50px;

}



.box2{
    height: 635px;
    position: relative;
}
.title_aboutus{
    padding-top: 140px;
    text-align:  center;
    font-size: 34px;
    font-weight: bold;
    color: black;
}
.text_aboutus{
    text-align: center;
    font-size: 16px;
    color: black;
    line-height: 1.8;
}
.text_aboutus1{
    padding-top: 65px;
} 
.text_aboutus2{
    padding-top: 30px;
}


.box3{
    height: 490px;
    background-image: url(img/services.jpg.png);
    background-repeat: no-repeat;
}
.title_service{
    padding-top: 120px;
    text-align: center;
    font-size: 34px;
    color: white;
}
.text_service{
    text-align: center;
    font-size: 16px;
    color: white;
    line-height: 1.8;
}
.text_service1{
    padding-top: 65px;
}



.box4{
    height: 1415px;
}


.box4_title{
    padding-top: 110px;
    text-align: center;
    font-size: 34px;
    color: black;
}

.icon{
    width: 85px;
    height: 85px;
    padding-left: 47.5%;
    
}

.icon_design{
    margin-top: 113px;
}
.icon_develop{
    margin-top: 120px;
}
.icon_management{
    margin-top: 100px;
}

.box4_mini_title{
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
    color: black;
}

.box4_text{
    text-align: center;
    padding-top: 38px;
    font-size: 14px;
    line-height: 1.8;
    color: black;
}