*{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}
header{
    width: 100%;
    margin-right: 0 auto;
    margin-left: 0 auto;
}
h2{
    float: left;
    font-size: 42px;
    padding-left:150px;
    padding-top: 125px;
}

.container{
    float: left;
    width: 1160px;
    height: 530px;
    margin-right: 0 auto;
    margin-left: 0 auto;
    padding-left: 150px;
    padding-top: 40px;

}

.text{
    font-size: 18px;
    opacity: 0.6;
    line-height: 1.5;
}

.span1{
    height: 80px;
    margin-top: -15px;
    font-size:110px;
    float: left;
    margin-right: 10px;
}

.text2{
    padding-top: 50px;
}

.text3{
    padding-top: 50px;
}

.text4{
    padding-top: 40px;
    opacity: 0.6;
    font-size: 24px;
    font-style: italic;
}
.span2{
font-size: 60px;
}

footer{
    width: 100%;
    float: left;
    margin-left:0 auto ;
    margin-right: 0 auto;
    padding-left: 150px;
    padding-top: 40px; 
    padding-bottom: 150px;
}
.button{
    width: 265px;
    height: 70px;
    border:1px solid #eaa258;
    color: #eaa258;
    text-align: center;
    padding-left:70px ;
    padding-top: 25px;
    padding-right: 70px;
    padding-bottom: 20px;

    
}