*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
}

.section{
    max-width: 1700px;
    margin:0 auto;
}


.container{
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 85px;
}
.box1{
    display: grid;
    grid-template-columns:1fr 1fr ;
    /* grid-template-rows:1fr; */
    grid-gap: 25px;
}
.box1 img:nth-child(2){
    padding-top: 50px;
}