*{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

.conteiner{
    
    width: 100%;
    height: 770pX;
    background-color: #fdde7e;
    display: flex;
    flex-direction: row;
    
}

.title_box{
    padding-top: 40px;
    color: #02995b;
    text-align: center;
    font-size: 50px;
}
.title_box2{
    padding-top: 50px;
    color: black;
    text-align: center;
    font-size: 30px;
}
.text_box{
    padding-top: 15px;
    color: black;
    text-align: center;
    font-size: 18px;
}

#img{
    height: 150px;
    width: 150px;
    margin-left: 110px;
    margin-top: 20px;
}

.bronze{
    background-image: url(img/bronze.png);
    background-position: center;
    background-repeat: no-repeat;
}
.gold{
    background-image: url(img/gold.png);
    background-position: center;
    background-repeat: no-repeat;
}
.silver{
    background-image: url(img/silver.png);
    background-position: center;
    background-repeat: no-repeat;
}



.box1{
    
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 365px;
    height: 435px;
    background-color: white;
    border: 2px soli white;
    border-radius: 2%;
    }
    
.box2{
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        width: 365px;
        height: 435px;
        background-color: white;
        border: 2px solid white;
        border-radius: 2%;
    }
    
.box3{
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        width: 365px;
        height: 435px;
        background-color: white;
        border: 2px solid white;
        border-radius: 2%;
    }


.box1:hover{
        transform: scale(1.2); 
    }
.box2:hover{
        transform: scale(1.2); 
    }   
.box3:hover{
        transform: scale(1.2); 
    } 