@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,300&display=swap');
@import"../../style/mixin.scss";
@import"../../style/normalize.scss";
@import"../../style/reset.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}

#index_ubout-us{
    max-width: 1550px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    position: relative;
    
    .ubout-us_bg-img{
        background: url(../img/bg.png);
        height: 416px;
        width: 100%;
        position: relative;
        margin-top: 100px;
        padding-top: 416px;

        .hr2{
            position: absolute;
            top: 140px;
            left: 53px;
            height: 180px;
            width: 0px;
            color: white;
            background-color: white;
        }
        .decoration{
            z-index: 1000;
            position: absolute;
           bottom: -80px;
            left: 10px;
            height: 160px;
            width: 0px;
            color: white;
            @media (max-width: 534px){
               display: none;
            }  
        }
        .abotu-us_title{
            z-index: 500;
            position: absolute;
            bottom: -120px;
            left: 450px;
            font-family: "Impact",sans-serif;
            font-weight: bold;
            font-size: 150px;
            color: #ff4a22;
            border: none;
            @media (max-width: 1090px){
                left: 300px;
            }
            @media (max-width: 991px){
                font-size: 100px;
                bottom: -50px;
            }
            @media (max-width: 704px){
                left: 200px;
            }
            @media (max-width: 600px){
                left: 100px;
            }
            @media (max-width: 534px){
                text-align: center;
                font-size: 75px;
                bottom: -40px;
                left: 5px;
            }  
        }
    }
    .ubout-us_box1{
        padding-top: 200px;
        position: relative;
        background-color: #dfdfdf;

        .box1_content{
            
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            @media (max-width: 1132px){
                margin-left: 10px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
            .box1_content_img{
                width: 748px;
                height: 364px;
                background: url(../img/Daughter1-1012x6751.png);
                @media (max-width: 758px){
                width: 545px;
                height: 280px;
                background: url(../img/Daughter1-1012x6751_t4hnlk_545px.png);
                }
                @media (max-width: 552px){
                    width: 419px;
                    height: 200px;
                    background: url(../img/Daughter1-1012x6751_t4hnlk_419px.png);
                    }
                    @media (max-width: 427px){
                        width: 300px;
                        height: 160px;
                        background: url(../img/Daughter1-1012x6751_t4hnlk_320px.png);
                        }
            }
            .box1_content_text{
                background-color:#ff4a22 ;
                padding: 75px 50px 80px 20px;
                color: white;
                font-family: "Roboto-Regular",sans-serif;
                font-size: 13px;
                line-height: 1.5;
            }
        }
    }

    .ubout-us_box2{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #dfdfdf;
        padding-top: 100px;
        
        .box2_title{
            margin-left: -420px;
            width: 320px;
            color: #ff4a22;
            font-size: 36px;
            font-family: 'Roboto', sans-serif;
            border-bottom: 1px solid black;

            @media (max-width: 970px){
                text-align: center;
                margin: 0 auto;
                width: 280px;
                padding-top: 0px;
            }
        }
        .box2_content{
            display: flex;
            padding-top: 10px;
            @media (max-width: 783px){
                flex-direction: column;
            }

            p{  width: 391px;
                padding: 20px 20px;
                font-family: "Roboto-Regular",sans-serif;
                font-size: 13px;
                @media (max-width: 429px){
                    width: 310px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }
    .ubout-us_box3{
        height: 1500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #dfdfdf;
        padding-top: 100px;
        @media (max-width: 576px){
            height: 1800px;
        }

        .box3_title{
            margin-left: -420px;
            width: 320px;
            color: #ff4a22;
            font-size: 36px;
            font-family: 'Roboto', sans-serif;
            border-bottom: 1px solid black;

            @media (max-width: 970px){
                text-align: center;
                margin: 0 auto;
                width: 280px;
                padding-top: 0px;
            }
        }

        .box3_content{
            display: flex;
            padding-top: 10px;
            @media (max-width: 576px){
                flex-direction: column;
            }
            .box3_members{
                padding-left: 20px;
                display: flex;
                align-items: flex-start;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                    transition: ease-in-out 0.3s;
                }
                @media (max-width: 944px){
                    flex-direction: column;
                }
                @media (max-width: 576px){
                    align-items: center;
                }
                .members_img1{
                    background-image: url(../img/foto4.png);
                    width: 176px;
                    height: 177px;
                   
                    
                }
                .members_img2{
                    background-image: url(../img/foto5.png);
                    width: 176px;
                    height: 177px;
                     
                }
                .members_img3{
                    background-image: url(../img/foto6.png);
                    width: 176px;
                    height: 177px;
                    
                }

                .members_name{
                    padding-top: 10px;
                    color:#ff4a22 ;
                    
                }
                span{
                    color: black;
                }
            }
        }
    }
    
    .box3_inform{
       display: flex;
       justify-content: center;
        margin-top: 20px;
        // padding-bottom: 300px;

        
        .active{
            display: block;
        }
        @media (max-width: 896px){
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .inform_img1{
            background: url(../img/CNV00035-web1.png);
            width: 480px;
            height: 282px;
            
            @media (max-width: 488px){
                background: url(../img/CNV00035-web1_kjhdp9_414.png);
                width: 414px;
                height: 220px;
            }
            @media (max-width: 416px){
                background: url(../img/CNV00035-web1_kjhdp9_320.png);
                width: 320px;
                height: 180px;
            }
        }
        .inform_img2{
            background: url(../img/8391456209_fd38fa3905_b_jqirta_480px.jpg);
            width: 480px;
            height: 282px;
            
            @media (max-width: 488px){
                background: url(../img/8391456209_fd38fa3905_b_jqirta_480px_qciycw_414.jpg);
                width: 414px;
                height: 220px;
            }
            @media (max-width: 416px){
                background: url(../img/8391456209_fd38fa3905_b_jqirta_320px.jpg);
                width: 320px;
                height: 180px;
            }
        }
        .inform_img3{
            background: url(../img/Online_Remi_Aguilella_By_Catie_Laffoon_ks72qk_480px.png);
            width: 480px;
            height: 282px;
            
            @media (max-width: 488px){
                background: url(../img/Online_Remi_Aguilella_By_Catie_Laffoon_ks72qk_414.png);
                width: 414px;
                height: 220px;
            }
            @media (max-width: 416px){
                background: url(../img/Online_Remi_Aguilella_By_Catie_Laffoon_ks72qk_320px.png);
                width: 320px;
                height: 180px;
            }
        }
        .inform_text{
            max-width: 480px;
            padding: 30px 30px;
            line-height: 1.5;
            background-color: #ff4a22;
            font-family: "Roboto-Regular",sans-serif;
            color: white;
            font-size: 13px;
            @media (max-width: 488px){
                max-width: 416px;
            }
            @media (max-width: 416px){
                
                max-width: 320px;
            }
        }
    }
    
    .box3_gallery{
        
            
     
     .gallert_title{
            padding-top: 100px;
            
            width: 320px;
            color: #ff4a22;
            font-size: 36px;
            font-family: 'Roboto', sans-serif;
            border-bottom: 1px solid black;

            @media (max-width: 950px){
                text-align: center;
                margin: 0 auto;
                width: 280px;
                padding-top: 50px;
            }
        }
        
        .slider-wrap{
            display: flex;
            
            .slider-nav {
               top: 15px;
               height: 460px;
               width: 200px;
               margin-left: 100px;
               @media (max-width: 1013px){
                margin-left: 10px;
                }
               @media (max-width: 950px){
                display: none;
               }
                .slick-track{
                    height: 500px;
                }
                .img_252{
                    width: 252px;
                    height: 180px;
                    z-index: 500;
                    
                }

                .img1_252{
                    background: url(../img/6899589707_0f3c1ce0bc_b_ytibh3-700px_mrzmmr_252px.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .img2_252{
                    background: url(../img/daughter-band-numbers-night-club-houston-march-2016-696x407_eqsfhf_252px.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .img3_252{
                    background: url(../img/Daughter800_vrkeyn_700px_pmtwsb_252px.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .img4_252{
                    background: url(../img/Daughter_at_Bestival_Toronto_2016_Day_2_at_Woodbine_Park-5_d1nctu_700px_pfl3hu_252px.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .img5_252{
                    background: url(../img/0dcd272982354e7a550ea1714077be4b_tzvky5_700px_ci1k7i_252px.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
                
               
            }
            .slider-for{
                width: 700px;
                height: 500px;
                
                @media (max-width: 950px){
                    display: none;
                }
                
                .img{
                    width: 700px;
                    height: 500px;
                    
                }
                .img1{
                    background: url(../img/6899589707_0f3c1ce0bc_b_ytibh3-700px.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .img2{
                    background: url(../img/daughter-band-numbers-night-club-houston-march-2016-696x407.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .img3{
                    background: url(../img/Daughter800_vrkeyn_700px.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .img4{
                    background: url(../img/Daughter_at_Bestival_Toronto_2016_Day_2_at_Woodbine_Park-5_d1nctu_700px.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .img5{
                    background: url(../img/0dcd272982354e7a550ea1714077be4b_tzvky5_700px.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            .slick_950px{
               width: 500px;
               height: 400px;
                display: none;
                @media (max-width: 950px){
                    display: block;
                }
                @media (max-width: 590px){
                    width: 320px;
                    height: 300px;
                }
                .img_950{
                    width: 500px;
                    height: 400px;
                    z-index: 500;
                    @media (max-width: 590px){
                        width: 320px;
                        height: 300px;
                    }
                }

                .img1_950{
                    background: url(../img/6899589707_0f3c1ce0bc_b_ytibh3-700px_pfigkv_500px.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    @media (max-width: 590px){
                        background: url(../img/6899589707_0f3c1ce0bc_b_ytibh3-700px_pfigkv_320px.jpg);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                .img2_950{
                    background: url(../img/daughter-band-numbers-night-club-houston-march-2016-696x407_l6lrib_500px.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    @media (max-width: 590px){
                        background: url(../img/daughter-band-numbers-night-club-houston-march-2016-696x407_l6lrib_320px.jpg);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                .img3_950{
                    background: url(../img/Daughter800_vrkeyn_700px_bfr5ho_500px.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    @media (max-width: 590px){
                        background: url(../img/Daughter800_vrkeyn_700px_bfr5h_320.jpg);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                .img4_950{
                    background: url(../img/Daughter_at_Bestival_Toronto_2016_Day_2_at_Woodbine_Park-5_d1nctu_700px_dgbrmd_500px.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    @media (max-width: 590px){
                        background: url(../img/Daughter_at_Bestival_Toronto_2016_Day_2_at_Woodbine_Park-5_d1nctu_700px_dgbrmd_320px.jpg);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                .img5_950{
                    background: url(../img/0dcd272982354e7a550ea1714077be4b_tzvky5_700px_zz1tou_500px.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    @media (max-width: 590px){
                        background: url(../img/0dcd272982354e7a550ea1714077be4b_tzvky5_700px_zz1tou_320px.jpg);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }

            }

            .slick-arrow{
                border: 1px solid gray;
                background-color: white;
                position: absolute;
                z-index: 500;
                width: 40px;
                height: 20px;
                font-size: 0px;
                @media (max-width: 950px){
                    width: 20px;
                    height: 40px;
                    }
            }
            .slick-prev{
                left: 80px;
                top: -30px;
                background-image: url(../img/angle-up.png) ;
                background-repeat: no-repeat;
                background-position: center;
                @media (max-width: 950px){
                top: 150px;
                left: -25px;
                background-image: url(../img/angle-left.png) ;
                background-repeat: no-repeat;
                background-position: center;
                }
                @media (max-width: 370px){
                    top: 260px;
                    left: 100px;
                    background-image: url(../img/angle-left.png) ;
                    background-repeat: no-repeat;
                    background-position: center;
                    }
                
            }
            .slick-next{
                bottom: -30px;
                right: 80px;
                background-image: url(../img/angle-down.png) ;
                background-repeat: no-repeat;
                background-position: center;
                @media (max-width: 950px){
                 top: 150px;
                 right:-25px;
                background-image: url(../img/angle-right.png) ;
                background-repeat: no-repeat;
                background-position: center;
                }
                @media (max-width: 370px){
                    top: 260px;
                    right: 100px;
                    background-image: url(../img/angle-right.png) ;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            
    }
 }




