@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway:400,400i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}

#section1 {
  font-family: "Raleway", sans-serif;
}
#section1 .container1 {
  margin: 0 auto;
  max-width: 1800px;
  width: 100%;
}
#section1 .container1_box1 {
  height: 1000px;
  background-image: url(../section1/img/header.png);
}
#section1 .header_logo {
  font-family: "Pacifico", cursive;
  font-style: italic;
  float: left;
  width: 150px;
  margin-left: 150px;
  padding-top: 50px;
  font-size: 50px;
}
#section1 .container1_box1_menu {
  width: 570px;
  margin-left: 765px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
#section1 .menu {
  margin-left: 40px;
}
#section1 .container1_box1_menu a {
  color: black;
  text-decoration: none;
}
#section1 .container1_box1_menu a:hover {
  border-top: 2px solid #ff6033;
}
#section1 .header_title {
  float: left;
  margin-top: 300px;
  margin-left: -150px;
  font-size: 60px;
}
#section1 .header_text {
  float: left;
  width: 340px;
  margin-top: 370px;
  margin-left: -272px;
  text-align: left;
  font-size: 17px;
  color: black;
}
#section1 .header_button {
  width: 180px;
  height: 50px;
  border: 1px solid #ff6033;
  background-color: #ff6033;
  margin-top: 470px;
  margin-left: 155px;
  padding-top: 15px;
  box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.36);
}
#section1 .header_button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: center;
}
#section1 .container2 {
  margin: 0 auto;
  max-width: 1800px;
}
#section1 .container2_box1 {
  background-color: #00b2b2;
  display: flex;
  flex-direction: row;
}
#section1 .img {
  width: 630px;
  height: 650px;
  margin-top: 71px;
  margin-left: 165px;
  background-image: url(../section1/img/img.png);
  background-repeat: no-repeat;
}
#section1 .container2_box1_information {
  width: 500px;
  margin-left: 40px;
  margin-top: 180px;
  color: white;
}
#section1 .container2_box1_title {
  font-size: 90px;
  text-align: left;
}
#section1 .container2_box1_text {
  padding-top: 10px;
  font-size: 17px;
  text-align: left;
  line-height: 1.5;
}

* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

#section2 {
  font-family: "Raleway", sans-serif;
}
#section2 a {
  text-decoration: none;
}
#section2 .container {
  max-width: 1800px;
  margin: 0 auto;
}
#section2 .container1 {
  height: 790px;
  background-color: #70bfff;
  display: flex;
  flex-direction: row;
}
#section2 .box1 {
  padding-top: 159px;
  padding-left: 265px;
  width: 400px;
  height: 460px;
}
#section2 .bottun {
  width: 400px;
  height: 100px;
  border: 1px solid white;
  background-color: white;
  margin-top: 20px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.39);
}
#section2 .bottun:hover {
  transform: scale(1.1);
}
#section2 .icon {
  margin-left: 320px;
  width: 100px;
  height: 100px;
  border-left: 2px solid gray;
}
#section2 #icon_shop {
  margin-top: -60px;
  padding-left: 10px;
  padding-top: 30px;
}
#section2 #icon_product {
  margin-top: -60px;
  padding-left: 10px;
  padding-top: 25px;
}
#section2 #icon_domestic {
  margin-top: -80px;
  padding-left: 10px;
  padding-top: 25px;
}
#section2 #icon_organized {
  margin-top: -60px;
  padding-left: 10px;
  padding-top: 25px;
}
#section2 .bottun_text {
  text-align: center;
  padding-top: 40px;
  padding-right: 30px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
#section2 .box2 {
  position: relative;
  margin-top: 159px;
  margin-left: 480px;
}
#section2 .img_backround {
  width: 460px;
  height: 525px;
  background-image: url(../section2/img/img.png);
}
#section2 h2 {
  width: 600px;
  padding-top: 210px;
  font-size: 90px;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

#section3 .container {
  max-width: 1800px;
  height: 1536px;
  margin: 0 auto;
  background-color: #ffe92f;
}
#section3 .header_title {
  padding-top: 100px;
  text-align: center;
  font-size: 90px;
  font-weight: bold;
  color: black;
}
#section3 .header_text {
  margin-top: 25px;
  text-align: center;
  font-size: 17px;
  color: black;
}
#section3 .gallery {
  margin: 0 auto;
  width: 1200px;
  position: relative;
}
#section3 .box1_box2 {
  padding-top: 55px;
  display: flex;
  flex-direction: row;
}
#section3 .box1 {
  position: relative;
}
#section3 .box2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#section3 .box3 {
  position: relative;
  display: flex;
  flex-direction: row;
}
#section3 .box1_img {
  margin: 10px;
}
#section3 .img1 {
  width: 770px;
  height: 550px;
  background-image: url(../section3/img/img1.png);
  background-repeat: no-repeat;
}
#section3 .img2 {
  width: 370px;
  height: 260px;
  background-image: url(../section3/img/img2.png);
  background-repeat: no-repeat;
  margin-top: 12px;
}
#section3 .img3 {
  width: 370px;
  height: 260px;
  background-image: url(../section3/img/img3.png);
  background-repeat: no-repeat;
}
#section3 .img4 {
  width: 570px;
  height: 400px;
  background-image: url(../section3/img/img4.png);
  background-repeat: no-repeat;
}
#section3 .img5 {
  width: 570px;
  height: 400px;
  background-image: url(../section3/img/img5.png);
  background-repeat: no-repeat;
}
#section3 .bg {
  position: absolute;
  opacity: 0;
}
#section3 .bg1 {
  top: 10px;
  left: 10px;
  width: 770px;
  height: 550px;
  background-image: url(../section3/img/bg_hover1.png);
  background-repeat: no-repeat;
}
#section3 .bg2 {
  top: 11px;
  left: 10px;
  width: 370px;
  height: 260px;
  background-image: url(../section3/img/bg2.png);
  background-repeat: no-repeat;
}
#section3 .bg3 {
  top: 300px;
  left: 10px;
  width: 370px;
  height: 260px;
  background-image: url(../section3/img/bg2.png);
  background-repeat: no-repeat;
}
#section3 .bg4 {
  top: 5px;
  left: 5px;
  width: 580px;
  height: 410px;
  background-image: url(../section3/img/bg_hover1.png);
  background-repeat: no-repeat;
}
#section3 .bg5 {
  top: 5px;
  left: 590px;
  width: 580px;
  height: 410px;
  background-image: url(../section3/img/bg_hover1.png);
  background-repeat: no-repeat;
}
#section3 .bg1:hover {
  opacity: 1;
}
#section3 .bg2:hover {
  opacity: 1;
}
#section3 .bg3:hover {
  opacity: 1;
}
#section3 .bg4:hover {
  opacity: 1;
}
#section3 .bg5:hover {
  opacity: 1;
}

#section4 {
  margin: 0 auto;
  background-color: #b07cf7;
  max-width: 1800px;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section4 .title {
  padding-top: 100;
  text-align: center;
  color: white;
}
#section4 h1 {
  padding-top: 100px;
  width: 550px;
  font-size: 90px;
}
#section4 .title_text {
  width: 550px;
  padding-top: 50px;
  font-size: 17px;
}
#section4 .container {
  width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  margin: 0 auto;
}
#section4 .box1 {
  margin: 20px;
  width: 370px;
  height: 310px;
  background-image: url(../section4/img/img1.png);
  background-repeat: no-repeat;
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.5);
}
#section4 .box2 {
  margin: 20px;
  width: 370px;
  height: 310px;
  background-image: url(../section4/img/img2.png);
  background-repeat: no-repeat;
}
#section4 .box3 {
  margin: 20px;
  width: 370px;
  height: 310px;
  background-image: url(../section4/img/img3.png);
  background-repeat: no-repeat;
}
#section4 .time {
  margin-top: 30px;
  margin-left: 30px;
  width: 60px;
  height: 60px;
  background-color: #4d525c;
  opacity: 0.8;
  border: 1px solid none;
  border-radius: 10%;
}
#section4 .time_text {
  font-size: 32px;
  color: white;
  text-align: center;
  font-weight: bold;
}
#section4 .time_text2 {
  font-size: 21px;
  color: white;
  text-align: center;
  font-weight: bold;
}
#section4 .text1 {
  text-align: left;
  padding-left: 20px;
  padding-top: 120px;
  font-size: 20px;
  color: white;
}
#section4 .text2 {
  text-align: left;
  padding-left: 20px;
  padding-top: 25px;
  font-size: 13px;
  color: white;
}
#section4 footer {
  width: 100%;
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding-bottom: 150px;
}
#section4 .button {
  margin: 0 auto;
  margin-top: 40px;
  height: 50px;
  width: 200px;
  border: 1px solid #f72b3b;
  background-color: #f72b3b;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
#section4 .text_button {
  padding-top: 15px;
  color: white;
  text-align: center;
  font-size: 20px;
}

#section5 {
  font-family: "Raleway", sans-serif;
}
#section5 .container {
  max-width: 1800px;
  margin: 0 auto;
  background-image: url(../section5/img/img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#section5 .container1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
#section5 h1 {
  padding-top: 80px;
  text-align: center;
  font-size: 90px;
  color: black;
  font-weight: bold;
}
#section5 .title_text {
  padding-top: 35px;
  text-align: center;
  font-size: 17px;
  color: black;
}
#section5 .box1 {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 165px;
  padding-top: 50px;
  padding-bottom: 110px;
}
#section5 .input_text {
  margin-top: 15px;
  padding-left: 20px;
  width: 500px;
  height: 50px;
  border: 1px solid #00c4c4;
  background-color: rgba(0, 196, 196, 0.4);
  color: white;
}
#section5 #messge {
  margin-top: 15px;
  padding-left: 20px;
  width: 500px;
  height: 250px;
  border: 1px solid #00c4c4;
  background-color: rgba(0, 196, 196, 0.4);
  color: white;
}
#section5 .input_text:hover {
  border-left: 3px solid #355b82;
}
#section5 .box2 {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 175px;
  padding-top: 45px;
}
#section5 h2 {
  margin-top: 20px;
  font-size: 17px;
  color: black;
  font-weight: bold;
}
#section5 .information {
  font-size: 20px;
  color: black;
}
#section5 footer {
  height: 90px;
  background-image: url(../section5/img/lesson11.2.css.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#section5 .footer_text {
  padding-top: 40px;
  font-size: 16px;
  color: lightgray;
}
#section5 h3 {
  padding-top: 40px;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  color: lightgray;
}
#section5 span {
  color: #f52b55;
}