*{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

@import "../section1/lesson10.1.scss";

@import "../section2/lesson12.1.scss";

@import "../section3/lesson13.1.scss";

@import "../section4/lesson9.scss";

@import "../section5/lesson11.2.scss";