*{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

body{
    background-color: #464f54;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.conteiner_title{
    width: 875px;
    height: 190px;
    background-color: black;
    margin-top: 50px;
    z-index: 100;
    
}
.conteiner_icons{
    width: 812px;
    height: 80px;
    background-color: #f8bd2c;
    display: flex;
    flex-direction: row;
    z-index: 100;
    
}

.header_text{
    padding-top: 45px;
    padding-left: 60px;
    text-align: left;
    color: white;
    opacity: 0.6;
    font-size: 15px;
    
}
.title{
    padding-left: 60px;
    text-align: left;
    color: white;
    font-size: 48px;
}
.header_hr{
margin-top: 25px;
margin-left: 60px;
width: 816px;
color: white;
opacity: 0.6;
}

#icons{
    margin-left: 20px;
    margin-top: 25px;
    width: 50px;
    height: 50px;
    
    
}
.icons_hover{
    display: flex;
    flex-direction: row;
    z-index: 100;
    
}

.icon1{
    background-image: url(icons/icon1.png);
    background-repeat: no-repeat;
}
.icon2{
    background-image: url(icons/icon2.png);
    background-repeat: no-repeat;
}
.icon3{
    background-image: url(icons/icon3.png);
    background-repeat: no-repeat;
}
.icon4{
    background-image: url(icons/icon4.png);
    background-repeat: no-repeat;
}
.icon5{
    background-image: url(icons/icon5.png);
    background-repeat: no-repeat;
}
.icon6{
    background-image: url(icons/icon6.png);
    background-repeat: no-repeat;
}
.icon7{
    background-image: url(icons/icon7.png);
    background-repeat: no-repeat;
}
.icon8{
    background-image: url(icons/icon8.png);
    background-repeat: no-repeat;
}
.icon9{
    background-image: url(icons/icon9.png);
    background-repeat: no-repeat;
}
.icon10{
    background-image: url(icons/icon10.png);
    background-repeat: no-repeat;
}

.icons_hover:hover :not(:hover){
opacity: 0.6;
}

.conteiner_content{
    position: relative;
    top: -180px;
    left: 70px;
    width: 1060px;
    height: 755px;
    background-color: white;
    z-index: 50;
}

.content_hr{
    margin-left: 70px;
    float: left;
    display: inline-block;
    width: 1px;
    height: 755px;
    color: white;
    opacity: 0.6;
}
.time{
    text-align: left;
    padding-top: 205px;
    margin-left: 130px;
    font-size: 20px;
    opacity: 0.6;
}

h1{
    text-align:left;
    margin-left:125px;
    padding-top: 30px;
    font-size: 78px;
}

.text1{
    text-align: left;
    margin-left: 130px;
    padding-top: 30px;
    font-size: 30px;
    font-style: italic;
    opacity: 0.6;
}

#content_text{
    text-align: left;
    margin-left: 130px;
    font-size: 27px;
}
.text2{
    padding-top: 70px;
}
.text3{
    padding-top: 40px;
}