*{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

.container{
    width: 400px;
    height: 500px;
    margin: 0 auto;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    margin-top: 50px;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-left: 70px;
}

.header_text{
    color: white;
    margin-right: 30px;
    font-size: 18px;
}

.header_text:hover{
    border-bottom: 2px solid #e66a64;
}

.container_box{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 70px;
}

form{
    display: flex;
    flex-direction: column;
}

.user_information{
    color: white;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 5px;
    
}



.input_text{
    border:2px solid lightgray; 
    width: 262px;
    height: 45px;
    background-color: rgba(0,0,0,0);
    opacity: 0.7;
    color: white;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.input_checkbox{
  -webkit-appearance: none;
  appearance: none;
  position: relative;
   
}
.label_checkbox{
 color: white;
 position: relative;
padding-left: 25px;
padding-top: 20px;
}


.input_checkbox::before{
    position: absolute;
    top: -13px;
    left: -20px;
    display: block;
    z-index: 1;
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #23ae92;
    background-color:#23ae92 ;
}
.input_checkbox::after{
   
    display: block;
    position: absolute;
    top: -11px;
    left: -20px;
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    opacity:0 ;
    background: url(img/check.png) no-repeat center center;
    background-size: 12px 12px;
    z-index: 2;
}

.input_checkbox:checked::after{ 
   opacity: 1;
}



#signin{
    width: 262px;
    height: 50px;
    margin-top: 50px;
    border: 2px solid #23ae92 ;
    background-color: #23ae92;
    color: white;
    font-size: 18px;
}

footer{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.footer_text{
    text-align: center;
    margin-left: 75px;
    font-size: 13px;
    color: white;
    opacity: 0.5;
    border-bottom: 1px white solid;
}

.footer_text:hover{
opacity: 1;
}