*{
    padding: 0;
    margin: 0;
    line-height: 1;
    box-sizing: border-box;
}

.container{
    margin-top: 100px;
}
.text{
    display: block;
    position: relative;
    width: 300px;
    margin: auto;
    text-align: justify;
    padding: 5px;
    border: 2px solid plum;
    margin-bottom: 10px;
}

.text_resizer{
    display: block;
    position: absolute;
    right: -10px;
    bottom: -10px;
    z-index: 1;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #fff;
    border: 2px solid plum;
    cursor: col-resize;
}
