@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
#section5 {
  font-family: "Raleway", sans-serif;
}
#section5 .container {
  max-width: 1500px;
  margin: 0 auto;
  background-image: url(img/img.png);
  background-repeat: no-repeat;
}
#section5 .container1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
#section5 h1 {
  padding-top: 80px;
  text-align: center;
  font-size: 90px;
  color: black;
  font-weight: bold;
}
#section5 .title_text {
  padding-top: 35px;
  text-align: center;
  font-size: 17px;
  color: black;
}
#section5 .box1 {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 165px;
  padding-top: 50px;
  padding-bottom: 110px;
}
#section5 .input_text {
  margin-top: 15px;
  padding-left: 20px;
  width: 500px;
  height: 50px;
  border: 1px solid #00c4c4;
  background-color: rgba(0, 196, 196, 0.4);
  color: white;
}
#section5 #messge {
  margin-top: 15px;
  padding-left: 20px;
  width: 500px;
  height: 250px;
  border: 1px solid #00c4c4;
  background-color: rgba(0, 196, 196, 0.4);
  color: white;
}
#section5 .input_text:hover {
  border-left: 3px solid #355b82;
}
#section5 .box2 {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 175px;
  padding-top: 45px;
}
#section5 h2 {
  margin-top: 20px;
  font-size: 17px;
  color: black;
  font-weight: bold;
}
#section5 .information {
  font-size: 20px;
  color: black;
}
#section5 footer {
  height: 90px;
  background-image: url(img/lesson11.2.css.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#section5 .footer_text {
  padding-top: 40px;
  font-size: 16px;
  color: lightgray;
}
#section5 h3 {
  padding-top: 40px;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  color: lightgray;
}
#section5 span {
  color: #f52b55;
}