body{
    padding: 0;
    margin: 0;
    line-height: 1;
    font-family: Arial, Helvetica, "sans-serif";
    background-color: #f6f6f6;
    box-sizing: border-box;
    
}

.container{
width: 70%;
max-width: 700px;
margin:0 auto ;
}

.title{
font-weight: normal;
color: #8f0f1c;
text-align: center;
border-bottom: 2px solid #8f0f1c;
padding: 5px;
}

#beetroot_img{
width: 100%;
}

.lessons_list{
    border: 1px solid maroon;
    list-style-type: none;
    padding: 0;
    background-color: lightgray;
}

.lessons_list.list_item{
    padding: 20px 30xp;
    font-size: 14px;
    border-bottom: 1px solid darkgray;

}


.list_item a {
    font-size: 30px;
    text-decoration: none;
    color: maroon;
    
}
.list_item a:hover{
    color: magenta;
} 

.basic_info p{
    display: inline-block;
    width: 49%;
    border: 1px solid maroon;
    box-sizing: border-box;
    text-transform: lowercase;
    padding: 20px;
    text-align: center;
    color: maroon;
    background: lightgray;
}


.basic_info p::first-letter{
    text-transform: uppercase;
}

.basic_info p a{
    color: maroon;
    font-size: 18px;
    text-decoration: none;

}

.basic_info p:hover a{
    color: magenta;
}


