#About-us{
    padding-top: 70px;
    max-width: 1550px;
    margin: 0 auto;
    background-color: #dfdfdf;
    
    
    @media (max-width: 1250px){
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       }

       h2{
        font-family: "Roboto-Regular" ,sans-serif;
        width: 400px;
        padding-top: 50px;
        margin-left: 110px;
        font-size: 40px;
        color: #ff4a22;
        border-bottom: 1px solid black;

        @media (max-width: 970px){
            text-align: center;
            margin: 0 auto;
            width: 280px;
            padding-top: 0px;
        }
    }

    .abou-us_contant{

        display: flex;
        justify-content: space-between;
        @media (max-width: 1250px){
            padding-top: 0px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 0;
           }
        
        .container1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 180px;
            @media (max-width: 1250px){
                padding-top: 0px;
                display:flex;
                flex-direction: row;
                padding-left: 0;
               }
               @media (max-width: 530px){
                flex-direction: column;
             }
            
    
            .information_box{
                padding-top: 25px;
                // margin-left: 181px;
                display: flex;
                align-items: flex-end;
                @media (max-width: 1250px){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                   }
                
                .information_box_img1{
                    width: 176px;
                    height: 177px;
                    background-image: url(../img/foto4.png) ;
                    
                }
                .information_box_img2{
                    width: 176px;
                    height: 177px;
                    background-image: url(../img/foto5.png) ;
                    
                }
                .information_box_img3{
                    width: 176px;
                    height: 177px;
                    background-image: url(../img/foto6.png) ;
                   
                }
    
                h3{
                    padding-left: 18px;
                    font-family: "Roboto-Regular" ,sans-serif;
                    font-size: 18px;
                    color: #ff4a22;
                    @media (max-width: 1250px){
                        padding-top: 20px;
                    }
                }
                p{
                    padding-left: 18px;
                    padding-top: 10px;
                    font-family: "Roboto-Regular" ,sans-serif;
                    font-size: 14px;
                    color: black;
                }
                
            }
        }
    
    
        .container2{
            background: url(../img/bg.png);
            height: 722px;
            width: 741px;
            position: relative;
            z-index: 200;

            @media (max-width: 1250px){
                margin-top: 30px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
               }
               @media (max-width: 530px){
                width: 100%;
                height: 500px;
            }
            @media (max-width: 474px){
                width: 400px;

            }
            @media (max-width: 400px){
                width: 280px;
                
                
            }
               
            
            .container2_img{
                top: 87px;
                left: -150px;
                position: absolute;
                width: 796px;
                height: 372px;
                background-image: url(../img/foto-of-grup.png);
    
                
    
                @media (max-width: 1410px){
                    background-image: url(../img/foto-of-grup_2.png);
                    width: 623px;
                    height: 291px;
                    left: -10px;
                   }
                @media (max-width: 1250px){
                    background-image: url(../img/foto-of-grup_3.png);
                    top: -50px;
                    left: 0px;
                    position: relative;
                    width:  502px;
                    height: 235px;
                }
                @media (max-width: 530px){
                    background-image: url(../img/foto-of-grup_4png.png);
                    
                    width:  309px;
                    height: 144px;
                }
                @media (max-width:442px){
                    background-image: url(../img/foto-of-grup_wq01zx.png);
                    
                    width:  280px;
                    height: 130px;
                }
               
            }
            p{
                margin-top: 480px;
                padding-left: 60px;
                @include adaptiv-font(13,11 );
                font-family: "Roboto-Regular" ,sans-serif;
                font-weight: 400;
                line-height: 1.54;
                color: #ffffff;
                @media (max-width: 1410px){
                    margin-top: 420px;
                   }
                   @media (max-width: 1250px){
                    margin-top: 10px;
                    padding-right: 20px;
                    padding-left: 20px;
                }
                @media (max-width: 575px){
                    text-align: center;
                    padding-left: 10px;
                    padding-right: 10px;
                }
               
                @media (max-width: 530px){
                    margin-top: 0px;
                    padding-left: 10px;
                    padding-right: 10px;
                 }
            }
            
    
            .Ubout-us_button{
                margin-top: 40px;
                margin-left: 60px;
                width: 121px;
                height: 40px;
                text-align: center;
                color: white;
                background-color:#ff4a22 ;
                font-size: 16;
                font-family: "Roboto-Regular" ,sans-serif;
                border: 1px solid white;
                @media (max-width: 1250px){
                    margin-left: 0px;
                }
                @media (max-width: 530px){
                    margin-top: 50px;
                   
                 }
                &:hover{
                    background-color:#dfdfdf ;
                    border: 1px solid black;
                    color: black;
                    transition: 0.3s;
                }
            }
            .container2_decoration{
                z-index: 500;
                position: absolute;
                bottom: -100px;
                right: 50px;
                background: url(../img/circles.png);
                width: 46px;
                height: 194px;
                @media (max-width: 925px){
                    display: none;
                }
            }
        }
    }
    
}