
  header {
    position: absolute;
    z-index: 1000;
    margin: 0 auto;
    width: 100%;
    padding-top: 10px;
    top: 0px;
    
    
  }
  .scroll {
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    background: rgba(1000, 1000, 1000, 0.9);
    transition: 0.5s;
  }
  .scroll li{
    margin-top: 10px;
  }
  header nav{
      display: flex;
      justify-content: space-between;
      font-family: 'Roboto', sans-serif;
     
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    list-style: none;
    margin-left: 55px;
    margin-top: 20px;
  }
  header nav ul li a {
    text-decoration: none;
    color: black;
    border: 2px solid rgba(1000, 1000, 1000, 0);;
    padding: 10px 30px;
    display: block;
  }
  header nav ul li a:hover {
    border: 2px solid #ff4a22;
    padding: 10px 30px;
  }
  .soc_links{
    font-size: 14px;
    margin-top: 20px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
  }
  .none_soc_links{
      display: none;
  }
  .soc_link{
    /* padding: 5px; */
    border-radius: 50%;
    margin: 7px 5px;
    cursor: pointer;
  }
  header .menu-toggle {
    z-index:1500 ;
    float: right;
    margin-right: 30px;
    margin-top: 5px;
    padding-bottom: 5px;
    line-height: 50px;
    color: #ff4a22;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  
  .fa-lg:hover{
    color: #ff4a22;
  }


  
  @media (max-width: 991px) {
    header nav {
      z-index: 900;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: calc(100vh - 0px);
        background: rgba(1000, 1000, 1000, 0.9);;
        top: 80px;
        left: -200%;
        transition: 1s;
        text-align: center;
        font-size: 40px;
    }
    
    header nav.active{
        left: 0px;
    }
    header nav ul{
        display: block;
    }
    header nav ul li{
        margin-left: 0px;
    }
    header nav ul li a {
        border: none;
        color: black;
      }
    header nav ul li a:hover {
        border: none;
        color: #ff4a22;
        
      }
     header nav .soc{
         margin-right: 0px;
         margin-top: 100px;
         display: flex;
         flex-direction: row;
     }
    header .menu-toggle{
        display: block;
    }
    .soc_links{
      margin-top: 50px;
      margin-right: 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
 
  @media (max-width: 360px) {
    .soc_links{
      margin-top: 50px;
      margin-right: 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }