#Shop{
    max-width: 1550px;
    margin: 0 auto;
    background-color: #dfdfdf;
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding-bottom: 50px;

    @media (max-width: 970px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .Shop_title{
        padding-top: 220px;
        margin-left: 176px;
        display: flex;
        align-items: center;
        @media (max-width: 970px){
            margin-left: 0px;
        }
        @media (max-width: 614px){
            padding-top: 100px;
            
           }
        .Shop_title_decoration{
            background: url(../img/circles2.png);
            width: 46px;
            height: 129px;
            background-repeat: no-repeat;
            
            @media (max-width: 970px){
                display: none;
            }
           
        }
        h2{
            width: 320px;
            color: #ff4a22;
            font-size: 36px;
            font-family: 'Roboto', sans-serif;
            border-bottom: 1px solid black;

            @media (max-width: 970px){
                text-align: center;
                margin: 0 auto;
                width: 280px;
                padding-top: 0px;
            }
        }
    }
    
    .Shop_container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;

       
        .Shop_container_decoration{
            border: 1px solid #ff4a22;
            padding: 200px;
            position: absolute;
            border-radius: 50%;
            top: -200px;
            left: 600px;
            @media (max-width: 1002px){
                display: none;
                
               }
        }
        .Shop_items{
            z-index: 800;
            background-color: #f4f4f4;
            margin: 20px;
            align-items: center;
            width: 280px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.45);
            &:hover{
                transform: scale(1.1 ,) ;
            
                .item_text{
                    background-color: #ff4a22;
                    

                    .item_name{
                        color: white;
                    }
                    .item_price{
                        color: white;
                    }
                }
                
            }
            @media (max-width: 530px){
              margin: 10px 0px;
              &:hover{
                transform: scale(0.9) ;
                }
            }
            
            
            img{
                width: 180px;
                height: 180px;
                padding-bottom: 10px;
            }
            .item_text{
                text-align: center;
                width: 260px;
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 10px;
                background-color: #dfdfdf;
                .item_name{
                    padding-top: 10px;
                    font-size: 14px;
                    font-family: 'Roboto', sans-serif;
                    color: black;
                }
                .item_price{
                    padding-top: 10px;
                    font-size: 18px;
                    font-family: 'Roboto', sans-serif;
                    color: black;
                }
            }
            
        }
        
    }
}